<html>
    <head>
        <title>Saraf's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Saraf's blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>I am Saraf Nawar, a 21 year old Bachelors of Electrical Engineering student at the TU Delft. I love technology and want to learn more of coding to develop somethings of my own.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>On 14 October 2018, I attended my first Django girls Delft workshop whereby I could create  my first website.</p>
        </div>
    </body>
</html>